{% extends 'base.html' %}
{% block content %}

<h2>controle de estoque de jogos</h2>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>titulo</th>
            <th>categoria</th>
            <th>quantidade</th>
            <th>preço</th>
            <th>plataforma</th>
            <th>ano</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>{{game.titulo}}</td> 
            <td>{{game.ano}}</td>
            <td>{{game.categoria}}</td>
            <td>{{game.plataforma}}</td>
            <td>{{game.preco}}</td>
            <td>{{game.quantidade}}</td>


        </tr>
    </tbody>
</table>